@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<main>
    <ul role="list" class="grid grid-cols-2 gap-6 xs:grid-cols-2 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-5">
        <li class="col-span-1 flex justify-center text-center">
            <a href="#" class="h-72 w-48 flex-shrink-0 flex hover:brightness-75 active:brightness-50">
                <img class="rounded-md"
                    src="https://m.media-amazon.com/images/I/41zGUBv9XHL.jpg" alt="">
            </a>
        </li>
    </ul>
</main>
